<div style="margin: auto; width: 100%;">
  <div style="margin: auto; width:200px;">
    
  </div>
</div>

<div class="container pb-5 mb-5">
  <div class="jumbotron mt-2">
    <h2>Login</h2>
    <form action="login" method="POST" accept-charset="utf-8">
      <div>
        <input type="email" name="email" placeholder="Email Address">
      </div>
      <div>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>